{% extends 'base.html' %}
{% block content %}

 
    <h1>Liste des livres</h1>

    <a class="nav-link" href="{% url 'new_book' %}">Ajouter un nouveau livre</a>

    <ul>
        {% for book in books %}
            <li>
                {{ book.title }} - {{ book.publisher }} ({{ book.year }})
                <!-- Lien de suppression pour chaque livre -->
                <a href="{% url 'delete_book' book.id %}" class="btn btn-outline-danger mb-2">Supprimer</a>
                <a href="{% url 'edit_book' book.id %}" class="btn btn-outline-danger mb-2">modifier</a>
                <a href="{% url 'add_review' book.id %}" class="btn btn-outline-danger mb-2">review</a>
                <a href="{% url 'review_list' book.id %}" class="btn btn-outline-danger mb-2">review list</a>
                <a href="{% url 'book_detail' book.id %}" class="btn btn-outline-danger mb-2">details</details></a>


            </li>
        {% endfor %}
    </ul>

{% endblock %}