{% extends 'base.html' %}
{% block content %}


    <div class="container mt-5">
        <h1>Bonnes lectures</h1>
        <p>Vous souhaitez des avis sur les dernières nouveautés littéraires ?</p>
        <p>Vous souhaitez des recommandations pertinentes pour choisir votre prochain livre ?</p>
        <p>Vous êtes là où il faut !</p>
        <p>Feuilletez les critiques de millions d’ouvrages passés en revue par des lecteurs comme vous.</p>
        <p>Créez votre profil, dites-nous quels sont les derniers titres que vous avez aimés, ou vos genres favoris, et nous vous conseillerons.</p>
    </div>
    {% endblock %}
